.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  &__wrapper {
    display: grid;
    grid-template-areas:
      "logo actions"
      "search search";
    width: 100%;
    max-width: var(--container-width);
    padding: 20px 0;
  }

  &__logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;

    &-item {
      text-decoration: none;
    }

    &-image {
      width: auto;
      height: 40px;
    }
  }

  &__search {
    grid-area: search;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;

    &-input {
      display: flex;
      flex-direction: row;
      flex: 1 0 0;
      align-items: center;

      &-icon {
        padding-right: 10px;
      }

      &-field {
        width: 100%;
        padding: 5px 10px;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
  }

  &__actions-item {
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
    padding: 0 5px;
  }
}

@media all and (min-width: 769px) {
  .header {
    &__wrapper {
      grid-template-areas: "logo search actions";
    }

    &__search {
      margin: 0;
    }
  }
}
