.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  &__wrapper {
    display: grid;
    grid-template-areas: "navigation search actions";
    width: 100%;
    max-width: var(--container-width);
    padding: 20px 0;
  }

  &__navigation,
  &__actions {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__navigation {
    grid-area: navigation;
  }

  &__actions {
    grid-area: actions;
    align-items: flex-end;
  }

  &__navigation-item,
  &__actions-item {
    text-decoration: none;
    padding: 10px 5px;
  }

}
