.pagination {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 5px 10px;
      }
    }
  }

  &__item {
    text-decoration: none;
    color: var(--color-primary);

    &[disabled] {
      cursor: default;
    }
  }
}
