:root {
  // spacing
  --container-width: 1200px;
  // colors
  --color-primary: #000;
  --color-secondary: #fff;
  --color-background-primary: #ccc;
  --color-background-secondary: #fff;
  --color-background-active: #eee;
  --color-border-primary: #ccc;
  --color-border-secondary: #aaa;
}
