.item-detail {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: grid;
    grid-template-areas:
      "image"
      "description"
      "add-to-cart"
      "attacks"
      "weaknesses";
    padding: 0 10px;
  }

  &__image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 0 20px 0;

    > img {
      width: auto;
      max-width: 100%;
      height: 400px;
    }
  }

  &__description,
  &__attacks,
  &__weaknesses {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: var(--color-background-secondary);
    border-right: 1px solid var(--color-border-secondary);
    border-bottom: 1px solid var(--color-border-secondary);

    &-title {
      margin: 0 0 10px 0;
      padding: 0;
    }

    &-line {
      display: flex;
      flex-direction: row;
      padding: 5px 0;

      &-title {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-primary);
      }

      &-value {
        color: var(--color-primary);
        padding: 0 5px;
      }
    }
  }

  &__description {
    grid-area: description;
  }

  &__attacks {
    grid-area: attacks;

    &-line {
      flex-direction: column;

      &-value {
        padding: 5px 0;
      }
    }
  }

  &__weaknesses {
    grid-area: weaknesses;
  }

  &__add-to-cart {
    grid-area: add-to-cart;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    background: var(--color-background-secondary);
    align-items: center;
    transition: background 0.2s ease-in-out;

    &-title {
      font-size: 40px;
    }

    &:hover {
      background: var(--color-background-active);
      cursor: pointer;
    }
  }
}

@media all and (min-width: 769px) {
  .item-detail {
    &__wrapper {
      grid-template-areas:
        "image description"
        "image add-to-cart"
        "image ."
        "attacks attacks"
        "weaknesses weaknesses";
      grid-template-columns: 400px 1fr;
      grid-template-rows: fit-content(100%);
      align-items: flex-start;
      padding: 0;
    }

    &__image {
      padding: 0 15px 0 0;

      > img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
