.cart-item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  background: var(--color-background-secondary);

  & + .cart-item {
    .cart-item__wrapper {
      border-top: 1px solid var(--color-background-active);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-areas:
      "image description price"
      "image quantity remove";
    align-items: center;
    padding: 10px 0;
  }

  &__image {
    grid-area: image;
    padding: 5px;

    > img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &__description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    &-name {
      font-weight: 700;
    }

    &-sku {
      font-size: 12px;
      padding: 5px 0;
    }
  }

  &__price {
    grid-area: price;
    justify-self: center;
  }

  &__quantity {
    grid-area: quantity;
    display: flex;
    flex-direction: row;
    justify-self: center;

    &-minus,
    &-plus {
      padding: 0 10px;
    }

    &-value {
      width: 0;
      min-width: 15px;
      padding: 0 10px;
      text-align: center;
    }
  }

  &__remove {
    grid-area: remove;
    justify-self: center;
    cursor: pointer;
  }
}
